body {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
  font-size: 4em;
}



.First_Headline 

.Sub_Head {color: rgb(182, 207, 40)
    ;}

.cloud_background {
  width: 100%;
}

.cloud_background {
  display: flex;
}
