

body {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
  font-size: 4em;
}


.holo_clouds {
  width: 100%;
  display: flex;
  background-image: url(../img/holo_clouds.jpg);
  flex-direction: column;
}
